body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.card {
    margin: auto;
    margin-top: 10%;
    width: 40%;
    text-align: center;
}

#mainHeader {
    font-size: 300%;
    font-weight: bolder;
}

#intro {
    padding: 15px;

}

 /*
ol li {
    counter-increment: olCounter;
}

ol li button::before {
    content: counter(olCounter) ". ";
}
*/